
:root {
    --code-color: rgb(200, 200, 200);
}

body {
    --code_background_color: rgb(30, 30, 30);
}

body.light-mode, body[light-mode] {
    /*--code_background_color: hsl(0, 0%, 100%);*/
}

pre {
    background-color: var(--code_background_color, green);
    border-radius: 0.5em;
    padding: 0.5em;

    margin: 0.5em;
    margin-left: 0;
    margin-right: 0;

    /*font-size: 75%;*/

    /* https://www.tutorialspoint.com/How-do-I-wrap-text-in-a-pre-tag-in-HTML
    overflow-x:hidden;
    overflow-wrap:break-word;
    white-space: pre-wrap;
    word-wrap: break-word;*/
    overflow: auto;

    border: solid 1px gray;

    transition: background-color var(--theme_color_transition, 1s ease-in-out);
}
pre.inline-height {
    max-height: 30em;
}

code {
    color: var(--code-color);
    font-family: Consolas;

    transition: background-color var(--theme_color_transition, 1s ease-in-out);

    font-size: 90%;
}

:not(pre) > code {
    color: rgb(219, 203, 171);
}

code {
    background-color: var(--code_background_color, red);
    border-radius: 0.25em;
    padding-left: 0.25em;
    padding-right: 0.25em;

    transition: background-color var(--theme_color_transition, 1s ease-in-out);
}
pre code {
    background-color: transparent;

    border-radius: 0;
    padding: 0;
}

code {
    word-wrap: break-word;
}
pre code {
    word-wrap: unset;
}

table.members-list {
    width: 100%;
    border-collapse: collapse;
}

.members-list tr {
    border-radius: 0;
    padding: 10px;
    border-bottom: solid 1px var(--text_color);
    border-top: solid 1px var(--text_color);

    vertical-align: top;
}

.members-list td {
    padding-left: 0.25em;
    padding-right: 0.25em;
}

.members-list tr > td:first-child {
    min-width: 5em;
    width: 0;
    text-align: right;
    /*background-color: red;*/
    border-right: solid 1px var(--code-color);
}

.members-list details {
    margin-left: 0.25em;
    padding-left: 0.5em;
    border-left: solid 2px var(--navbox_top_color);
    border-radius: 0.25em;
}

/*
================================================================
                              TAGS
================================================================
*/

/*default code element*/
code span, code-element {
    text-decoration: line-through;
    color: red;
}

code-keyword, code .keyword, code .boolean,
.hljs-keyword, .hljs-type,
.hljs-selector-tag/*not this! use VSCode style*/ {
    text-decoration: none;
    color: rgb(86, 156, 214);
}

code-macro, code .macro-name{
    text-decoration: none;
    color: rgb(190, 183, 255);
}

code-concept, code-class, code .class-name,
.hljs-title.class_,
.hljs-selector-class/*not this! use VSCode style*/ {
    text-decoration: none;
    color: rgb(78, 201, 186);
}

code-var,
.hljs-variable {
    text-decoration: none;
    color: rgb(156, 220, 254);
}

code-mvar, code-pvar,
code-attribute, code-parameter,
.hljs-attr,
.hljs-property,
.hljs-selector-pseudo {
    text-decoration: none;
    color: rgb(150, 150, 150);
}

.hljs-function {
    text-decoration: none;
    color: inherit;
}
code-function, code .function, code .operator,
.hljs-function .hljs-title, .hljs-built_in, .hljs-title.function_ {
    text-decoration: none;
    color: rgb(220, 220, 170);
}
.hljs-function .hljs-params, .hljs-params {
    text-decoration: inherit;
    color: inherit;
}

code-string, code .string,
.hljs-string {
    text-decoration: none;
    color: rgb(214, 157, 122);
}

code-comment, code .comment,
.hljs-comment {
    text-decoration: none;
    color: rgb(87, 166, 74);
}

code-preprocessor, code .macro, code .directive, code .directive-hash {
    text-decoration: none;
    color: rgb(155, 155, 155);
}

code-flux, code-flow {
    text-decoration: none;
    color: rgb(216, 160, 223);
}

code-number, code .number,
.hljs-number {
    text-decoration: none;
    color: rgb(181, 206, 168);
}

code-namespace, code .namespace {
    color: var(--code-color);
    text-decoration: underline;/*!!!*/
}

code-tag, code .tag,
.hljs-tag .hljs-name {
    text-decoration: none;
    color: rgb(86, 156, 214);
}

/* !!! */
code-punctuation,
.punctuation, code .generic-function,
.hljs-punctuation,
.hljs-tag {
    text-decoration: inherit;
    color: inherit;
    color: gray;
}



code-plain {
    text-decoration: none;
    color: var(--code-color);
}


code-symbol,
.hljs-symbol {
    text-decoration: none;
    color: rgb(214, 157, 122);

    /*wow, this was generated by copilot, too!*/
}

code .squared {
    text-decoration: inherit;
    color: inherit;
    border-width: 1px;
    border-radius: 0.125em;
    border-style: solid
}
code .squared.red {
    border-color: hsl(0, 100%, 50%);
}









a.code-link, a.code-link:visited {
    text-decoration: none;
    color: inherit;
}
a.code-link:hover {
    text-decoration: underline;
}

/* hack https://stackoverflow.com/questions/17365838/remove-leading-whitespace-from-whitespace-pre-element */
pre.skip-1st-line::first-line {
    line-height: 0;
}
pre.skip-last-line {
    /* TODO */
    /* not necessary, all you need to do is to leave the last line empty and without spaces */
}


/* TODO MOVE!!!!!!*/
lc-tikz-fig-container {
    display: block;
    margin: 0.5em;
    max-width: 100%;
}

lc-tikz-fig-container > div {
    display: block;
    margin: auto;
    align-items: center;
}

lc-tikz-fig-container svg {
    background: white;
}

code .language-javascript,
code .language-css {
    text-decoration: none;
    color: inherit;
}